<template lang="pug">

v-container
  v-row
    v-col
      v-card.card(plain max-width="600")
        v-card-title
          | Build payment link
        
        v-card-subtitle
          | Details

        v-card-text
          v-form(
            ref="form"
            v-model="valid"
          )
            AmountField(
              rqeuired
              name="amount" 
              @update="params.amount = $event"
              )
            OrderField(
              required
              name="order" 
              @update="params.order = $event"
              )
        
        v-card-subtitle
          | Predefined fields
        
        v-card-text
          CountryField(
            disabled
            readonly
            name="country-code"
            :model-value="params.countryCode"
            @update:model-value="params.countryCode = $event"
            )
          v-text-field(
            readonly
            disabled
            :model-value="params.paymentProvider"
            name="payment-provider"
            label="Payment provider"
          )
          v-text-field(
            readonly
            disabled
            :model-value="params.currency"
            name="currency"
            label="Currency"
          )
          v-text-field(
            readonly
            disabled
            :model-value="params.serviceNo"
            name="service-no"
            label="Service No"
          )
      
      v-card.mt-6.card(max-width="600")

        v-card-title
          | Generated link

        v-card-text
          LinkField(
            name="link"
            :params="params"
            :active="valid"
            )
        
</template>

<script setup lang="ts">

import { PaymentParams } from '@/models/PaymentParams';
import { VForm } from 'vuetify/components'

const route = useRoute()
const query = computed(() => unref(route).query)
const router = useRouter()

const params = reactive<PaymentParams>({
  countryCode: "BY",
  amount: undefined,
  order: undefined,
  currency: "933",
  serviceNo: "5157241",
  paymentProvider: "https://pay.raschet.by"
})

onMounted(() => {
  // TODO: set params from query, and then watch aprams to update route
  watch(params, async params => {
    const _router = unref(router)
    const { query } = unref(route)
    await _router.replace({
      query: {
        ...query,
        ...params,
      }
    })
  })
})

const valid = ref<boolean>(false)

onMounted(() => {
  const form = componentRef<typeof VForm>()
  unref(form)?.validate()
})

</script>

<style>

.card {
  margin: 0 auto;
}

</style>