<template lang="pug">

v-text-field(
  type="number"
  min="0"
  step="0.01"
  placeholder="0.00" 
  v-model="value"
  @update:focused="onFocusChange"
  label="Amount"
  :name="props.name"
  :rules="rules"
  )
  template(v-slot:selection="{ props, item }")
    span(v-bind="props") {{ item.raw.name }}
  template(v-slot:item="{ props, item }")
    v-list-item(
      v-bind="props" 
      :title="item.raw.name"
      )

</template>

<script setup lang="ts">

import { Ref } from 'vue';
import { round } from 'lodash';

const props = defineProps<{
  name: string
}>()

const value = ref("")

const parseValue = (value: string|Ref<string>) => {
  const _value = unref(value).replace(/[,.]+/, ".")
  const float = parseFloat(_value)
  return isNaN(float) ? 0 : round(float, 2)
}

const rules = [
  (value: string) => (parseValue(value) > 0) || "Must be more than 0.00"
]

const amount = computed(() => parseValue(value))

const emit = defineEmits<{
  (e: 'update', value: number): void
}>()

watch(amount, value => {
  if (value) emit("update", value)
})

const onFocusChange = (focused: boolean) => {
  if (!focused) {
    value.value = unref(amount).toFixed(2)
  }
}

</script>
