<template lang="pug">

v-autocomplete(
  :model-value="countryCode"
  @update:model-value="onCountryUpdate"
  @change.stop.prevent="returnFalse"
  label="Country"
  :items="items"
  item-name="name"
  item-value="code"
  :name="props.name"
  )
  template(v-slot:selection="{ props, item }")
    span(v-bind="props") {{ item.raw.name }}
  template(v-slot:item="{ props, item }")
    v-list-item(
      v-bind="props" 
      :title="item.raw.name"
      )

</template>

<script setup lang="ts">

const props = defineProps<{
  name: string
  value?: string
}>()

const emit = defineEmits<{
  (e: 'update:model-value', value: string): void
}>()

const countryCode = computed(() => props.value)

const countries = {
  "BY": "Belarus",
  "RU": "Russia"
} as {
  [code: string]: string
}

interface Country {
  code: string,
  name: string
}

const items = Object.entries(countries).map(([code, name]) => {
  return { code, name } as Country
})

const onCountryUpdate = (value: string) => {
  // countryCode.value = value
  if (value) emit("update:model-value", value)
}

// watch(countryCode, value => {
//   if (value) emit("update:model-value", value)
// })

</script>