<template lang="pug">

div
  v-text-field(
    :disabled="disabled"
    readonly
    :model-value="value"
    :name="props.name"
    :append-inner-icon="disabled ? '' : 'mdi-content-copy'"
    @click:appendInner="onAppendInnerClick"
    :hide-details="true"
    )
  v-snackbar(
    v-model="snackbar" 
    :timeout="timeout"
    )
    span Copied!
</template>

<script setup lang="ts">

import EmvPaymenLink from "@myshkouski/emv-payment-link"
import copy from "copy-to-clipboard"
import { PaymentParams } from "@/models/PaymentParams";
import { round } from 'lodash';

const props = defineProps<{
  name: string,
  params: PaymentParams,
  active: boolean
}>()

const params = computed(() => props.params)
const disabled = computed(() => !props.active)

const payload = computed(() => {
  const { currency, amount, countryCode, order, serviceNo } = unref(params)
  const serviceInfo = EmvPaymenLink.com.medexlab.payments.emv.payload(builder => {
    try {
      EmvPaymenLink.com.medexlab.payments.emv.add(builder, 0, "by.raschet")

      builder.add(
        EmvPaymenLink.com.medexlab.payments.emv.spec.createTag(1),
        serviceNo
      ).add(
        EmvPaymenLink.com.medexlab.payments.emv.spec.createTag(10),
        order || ""
      ).add(
        EmvPaymenLink.com.medexlab.payments.emv.spec.createTag(12),
        "12"
      )
    } catch(e) {
      console.error(e)
    }
  })

  return {
    "53": currency,
    "54": amount ? round(amount, 2).toString() : undefined,
    "58": countryCode,
    "32": serviceInfo.serialize()
  }
})

const fragment = computed(() => {
  const entries = Object.entries(unref(payload)).filter(([key, value]) => !!value) as [string, string][]
  return EmvPaymenLink.com.medexlab.payments.emv.emv(undefined, builder => {
    for (const [key, value] of entries) {
      try {
        EmvPaymenLink.com.medexlab.payments.emv.add(builder, parseInt(key), value)
      } catch (e) {
        console.error(e)
      }
    }
  })
})

const baseUrl = computed(() => unref(params).paymentProvider)

const url = computed(() => {
  const url = new URL(unref(baseUrl))
  url.hash = unref(fragment)
  return url
})

const value = computed(() => unref(url).toString())

const snackbar = ref(false)
const timeout = 2000

const onAppendInnerClick = () => {
  copy(unref(value))
  snackbar.value = true
}

</script>
