<template lang="pug">

v-text-field(
  pattern="\\d+"
  label="Order"
  :name="props.name"
  v-model="value"
  :rules="rules"
)

</template>

<script setup lang="ts">

const props = defineProps < {
  name: string
} > ()

const emit = defineEmits<{
  (e: 'update', value: string): void
}>()

const rules = [
  (value: string) => !!value || "Must be set"
]

const value = ref("")

watch(value, value => {
  if (value) emit("update", value)
})

</script>